<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.sykeptical.hyperpop.permission.SEND_ISLAND"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.sykeptical.hyperpop.permission.SEND_ISLAND" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission
        android:name="com.sykeptical.hyperpop.permission.CONTROL_SCREEN_RECORDER"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.sykeptical.hyperpop.permission.CONTROL_SCREEN_RECORDER" />

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.net.VpnService" />
        </intent>
        <package android:name="com.miui.screenrecorder" />

        <intent>
            <action android:name="com.aios.osbot.action.APP_TOOL_PROVIDER" />
        </intent>
    </queries>

    <application
        android:name=".HyperPopApplication"
        android:directBootAware="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.HyperPop">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.HyperPop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_SWITCHED" />
                <action android:name="com.sykeptical.hyperpop.ACTION_TEST_MIGRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationProcessingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".screenrecorder.ScreenRecorderControlService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.sykeptical.hyperpop.action.SCREEN_RECORDER_CONTROL" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.InlineReplyReceiver"
            android:exported="true" />

        <receiver
            android:name=".receiver.ScreenRecordingActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.VpnActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.LoginCodeCopyReceiver"
            android:exported="false" />

        <activity
            android:name=".ui.InlineReplyActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.sykeptical.hyperpop.inline_reply"
            android:documentLaunchMode="never"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/Theme.HyperPop.Transparent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
