<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.sykeptical.hyperbridge.permission.SEND_ISLAND"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.sykeptical.hyperbridge.permission.SEND_ISLAND" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.net.VpnService" />
        </intent>
        <intent>
            <action android:name="android.appwidget.action.APPWIDGET_PICK" />
        </intent>

        <intent>
            <action android:name="com.d4viddf.hyperbridge.THEME_PROVIDER" />
        </intent>

        <package android:name="com.miui.screenrecorder" />

        <intent>
            <action android:name="com.aios.osbot.action.APP_TOOL_PROVIDER" />
        </intent>
    </queries>

    <application
        android:name=".HyperBridgeApplication"
        android:directBootAware="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.HyperBridge">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.HyperBridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_SWITCHED" />
                <action android:name="com.d4viddf.hyperbridge.ACTION_TEST_MIGRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.WidgetOverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />

        <service
            android:name=".service.NotificationProcessingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.screens.theme.ThemeInstallerActivity"
            android:exported="true"
            android:theme="@style/Theme.HyperBridge.Transparent"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="com.d4viddf.hyperbridge.APPLY_THEME" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.InlineReplyReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.ScreenRecordingActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.VpnActionReceiver"
            android:exported="false" />

        <activity
            android:name=".ui.InlineReplyActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HyperBridge.Transparent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
